// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$background: white;
$text: #757780;

$pink: #FB6099;
$orange: #FFA85C;
$yellow: #F5FF70;
$green: #8FFF85;
$purple: #A185FF;
