// Specific CSS for your home-page
.header-container {
  display: flex;
}
.header-container h1{
  font-size: 100px;
}

.header-container h2{
  font-size: 70px;
}

.icons {
  font-size: 5rem;
}

.papaya-screenshots {
  justify-content: space-evenly;
}

#mobile-screenshot {
  width: 28%;
  object-fit: cover;
}

#index-screenshot {
  width: 65%;
  object-fit: cover;
}

.eocene-screenshots {
  justify-content: center;
}

.eocene-screenshot {
  object-fit: cover;
  width: 55%;
}

.CV-img {
  width: 75%;
  object-fit: cover;
}
