// Specific CSS for your home-page
.header-container {
  margin: 20px;
}
.header-container h1{
  font-size: 7rem;
}

.header-container h2{
  font-size: 3rem;
  text-align: right;
  padding-right: 40px;
}

#tabs {
  position: sticky;
  top: 5px;
  height: 65vh;
  border-right: 6px solid red;
}

#v-pills-tab {
  line-height: 3rem;
}

.main-container {
  margin: 50px 30px 50px 30px;
  padding: 10px 20px 10px 20px;
}

.main-container h4{
  font-size: 2rem;
}

.main-container p {
  padding: 10px 0 10px 0;
}

#text-box1 {
  border-right: 6px solid red;
  border-top: 6px solid red;
}

#text-box2 {
  border-right: 6px solid red;
  border-top: 6px solid red;
}

#text-box3 {
  border-left: 6px solid red;
  border-bottom: 6px solid red;
}

#text-box4 {
  border-bottom: 6px solid red;
}

.tab-content {
  margin: 0 50px 0 50px;
}

.icons {
  font-size: 5rem;
}

.papaya-screenshots {
  justify-content: space-evenly;
}

#mobile-screenshot {
  width: 28%;
  object-fit: cover;
}

#index-screenshot {
  width: 65%;
  object-fit: cover;
}

.eocene-screenshots {
  justify-content: center;
}

.eocene-screenshot {
  object-fit: cover;
  width: 55%;
}

.CV-img {
  width: 75%;
  object-fit: cover;
}
