// Specific CSS for your home-page
.header-container {
  margin: 20px;
}
.header-container h1{
  font-size: 7rem;
}

.header-container h2{
  font-size: 3rem;
  text-align: right;
  padding-right: 40px;
}

.main-container {
  margin: 50px 30px 50px 30px;
  padding: 10px 20px 10px 20px;
}

.main-container h4{
  font-size: 2rem;
}

.icons {
  font-size: 5rem;
}

.papaya-screenshots {
  justify-content: space-evenly;
}

#mobile-screenshot {
  width: 28%;
  object-fit: cover;
}

#index-screenshot {
  width: 65%;
  object-fit: cover;
}

.eocene-screenshots {
  justify-content: center;
}

.eocene-screenshot {
  object-fit: cover;
  width: 55%;
}

.CV-img {
  width: 75%;
  object-fit: cover;
}
