<div class="header-container">
  <h1>Siobhan Brown</h1>
  <h2>Fullstack Developer</h2>
</div>

<div class="main-container">

  <div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="about-tab" data-toggle="pill" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
        <a class="nav-link" id="work-tab" data-toggle="pill" href="#work" role="tab" aria-controls="work" aria-selected="false">Work</a>
        <a class="nav-link" id="cv-tab" data-toggle="pill" href="#cv" role="tab" aria-controls="cv" aria-selected="false">CV</a>
        <a class="nav-link" id="contact-tab" data-toggle="pill" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact Me</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
          <h4>About me</h4>
          <p>
            Graduate of Le Wagon's Full-stack Web Development bootcamp, looking to combine my creativity and logical problem solving abilities into a new challenge.
          </p>
          <p>
            Previously, I spent many years working in fine dining, managing and training a team of staff, both in the UK and abroad. It was here I developed a love for working directly with people and a passion for sustainability. This led me to a role utilising my strong customer-facing skills for a food charity, focusing both on eliminating food waste and food poverty.
          </p>

        </div>
        <div class="tab-pane fade" id="work" role="tabpanel" aria-labelledby="work-tab">Hello</div>
        <div class="tab-pane fade" id="cv" role="tabpanel" aria-labelledby="cv-tab">???</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">is this working</div>
      </div>
    </div>
  </div>

</div>
